<div class="container" align="center">
    <table class="table table-bordered table-striped table-hover w-100" id="schedule_list">
        <thead align='center'>
            <tr class="table-primary">
                <th>Врач</th>
                <th>День недели</th>
                <th>Начало приема</th>
                <th>Конец приема</th>
                {% if perms.stomatology.change_schedule and perms.stomatology.delete_schedule %}
                    <th style="border: none;"></th>
                    <th style="border: none;"></th>
                {% endif %}
            </tr>
        </thead>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.doctor }}</td>
                <td>{{ schedule.get_day_week_display }}</td>
                <td>{{ schedule.start_reception }}</td>
                <td>{{ schedule.end_reception }}</td>
                {% if perms.stomatology.change_schedule and perms.stomatology.delete_schedule%}
                    <td style="border: none;" align='center'> 
                        <a href="{% url 'schedule_edit' schedule.pk %}" title="Изменить" style="color:rgb(113, 111, 111);">
                            <i class="bi bi-pencil-square" style="font-size: 25px;"></i>
                        </a>
                    </td>
                    <td style="border: none;" align='center'> 
                        <a href="{% url 'schedule_delete' schedule.pk %}" title="Удалить" style="color:rgb(210, 19, 19);">
                            <i class="bi bi-trash3-fill" style="font-size: 25px;"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="6" class="text-center">Расписание не найдено</td>
            </tr>
        {% endfor %}
    </table>
</div>