html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Andika", sans-serif;
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  margin-bottom: 60px;
}

.navbar {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.247);
  background-color: #444242;
}
